In [1]:
%load_ext sql

C:\Users\Zilong\Anaconda3\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
C:\Users\Zilong\Anaconda3\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql postgresql://ricedb:zl15ricedb@localhost/postgres

'Connected: ricedb@postgres'

In [20]:
%%sql
DROP FUNCTION IF EXISTS calculateScore(
    event_id_value VARCHAR(10),
    event_rank_value bigint);
CREATE OR REPLACE FUNCTION calculateScore (
    event_id_value VARCHAR(10),
    event_rank_value bigint)
RETURNS INT
AS $$
    DECLARE
        legs INT;
    BEGIN
        SELECT COUNT(*) into legs
        FROM StrokeOf 
        WHERE event_id=event_id_value;
        --relay event
        IF legs > 1 THEN
            CASE event_rank_value
                WHEN 1 THEN
                    RETURN 8;
                WHEN 2 THEN
                    RETURN 4;
                WHEN 3 THEN
                    RETURN 2;
                ELSE
                    RETURN 0;
            END CASE;
        ELSE
            CASE event_rank_value
                WHEN 1 THEN
                    RETURN 6;
                WHEN 2 THEN
                    RETURN 4;
                WHEN 3 THEN
                    RETURN 3;
                WHEN 4 THEN
                    RETURN 2;
                WHEN 5 THEN
                    RETURN 1;
                ELSE
                    RETURN 0;
            END CASE;
        END IF;          
    END $$
LANGUAGE plpgsql
STABLE;

Done.
Done.

[]

In [28]:
%%sql
DROP VIEW IF EXISTS group_scores;
CREATE VIEW group_scores AS
SELECT meet_name, event_id, group_event_rank, org_id, school,
calculateScore(event_id, group_event_rank) AS score
FROM meet_group_time_rank
WHERE group_event_rank <= 3
ORDER BY meet_name, org_id
;

SELECT * FROM group_scores;

Done.
Done.
9 rows affected.

[('SouthConfed', 'E0422', 2, 'U203', 'UoH', 4),
 ('SouthConfed', 'E1107', 1, 'U203', 'UoH', 8),
 ('SouthConfed', 'E0422', 3, 'U422', 'UTAustin', 2),
 ('SouthConfed', 'E1107', 2, 'U422', 'UTAustin', 4),
 ('SouthConfed', 'E1107', 3, 'U430', 'RICE', 2),
 ('SouthConfed', 'E0307', 2, 'U430', 'RICE', 4),
 ('SouthConfed', 'E0307', 1, 'U502', 'UTDallas', 8),
 ('SouthConfed', 'E0422', 1, 'U693', 'Baylor', 8),
 ('SouthConfed', 'E0307', 3, 'U693', 'Baylor', 2)]

In [39]:
%%sql
DROP VIEW IF EXISTS school_scores_group;
CREATE VIEW school_scores_group AS
SELECT meet_name, org_id, school,
SUM(score) AS sum_score
FROM group_scores
GROUP BY meet_name, org_id, school
;

SELECT * FROM school_scores_group;

Done.
Done.
5 rows affected.

[('SouthConfed', 'U203', 'UoH', 12),
 ('SouthConfed', 'U422', 'UTAustin', 6),
 ('SouthConfed', 'U430', 'RICE', 6),
 ('SouthConfed', 'U502', 'UTDallas', 8),
 ('SouthConfed', 'U693', 'Baylor', 10)]

In [26]:
%%sql
DROP VIEW IF EXISTS individual_scores;
CREATE VIEW individual_scores AS
SELECT meet_name, event_id, event_rank, org_id, school,
calculateScore(event_id, event_rank) AS score
FROM meet_individual_info
WHERE event_rank <= 5
ORDER BY meet_name, org_id
;

SELECT * FROM individual_scores;

Done.
Done.
30 rows affected.

[('NCAA_Summer', 'E0107', 5, 'U203', 'UoH', 1),
 ('NCAA_Summer', 'E1007', 4, 'U203', 'UoH', 2),
 ('NCAA_Summer', 'E0212', 2, 'U203', 'UoH', 4),
 ('NCAA_Summer', 'E0107', 1, 'U203', 'UoH', 6),
 ('NCAA_Summer', 'E1206', 5, 'U203', 'UoH', 1),
 ('NCAA_Summer', 'E0107', 2, 'U422', 'UTAustin', 4),
 ('NCAA_Summer', 'E0107', 4, 'U422', 'UTAustin', 2),
 ('NCAA_Summer', 'E1206', 2, 'U422', 'UTAustin', 4),
 ('NCAA_Summer', 'E1007', 1, 'U422', 'UTAustin', 6),
 ('NCAA_Summer', 'E1007', 3, 'U430', 'RICE', 3),
 ('NCAA_Summer', 'E0107', 3, 'U430', 'RICE', 3),
 ('NCAA_Summer', 'E1206', 3, 'U502', 'UTDallas', 3),
 ('NCAA_Summer', 'E1007', 5, 'U502', 'UTDallas', 1),
 ('NCAA_Summer', 'E1206', 1, 'U693', 'Baylor', 6),
 ('NCAA_Summer', 'E0212', 1, 'U693', 'Baylor', 6),
 ('NCAA_Summer', 'E0212', 4, 'U693', 'Baylor', 2),
 ('NCAA_Summer', 'E0212', 5, 'U693', 'Baylor', 1),
 ('NCAA_Summer', 'E0212', 3, 'U693', 'Baylor', 3),
 ('NCAA_Summer', 'E1007', 2, 'U693', 'Baylor', 4),
 ('NCAA_Summer', 'E1206', 4, 'U693', 'Baylor', 2),
 ('Rice Invitational', 'E0407', 3, 'U422', 'UTAustin', 3),
 ('Rice Invitational', 'E0407', 1, 'U422', 'UTAustin', 6),
 ('Rice Invitational', 'E0407', 5, 'U430', 'RICE', 1),
 ('Rice Invitational', 'E0407', 4, 'U502', 'UTDallas', 2),
 ('Rice Invitational', 'E0407', 2, 'U693', 'Baylor', 4),
 ('UT_Meet', 'E0507', 1, 'U203', 'UoH', 6),
 ('UT_Meet', 'E0507', 4, 'U203', 'UoH', 2),
 ('UT_Meet', 'E0507', 5, 'U430', 'RICE', 1),
 ('UT_Meet', 'E0507', 2, 'U430', 'RICE', 4),
 ('UT_Meet', 'E0507', 3, 'U693', 'Baylor', 3)]

In [45]:
%%sql
DROP VIEW IF EXISTS school_scores_individual;
CREATE VIEW school_scores_individual AS
SELECT meet_name, org_id, school,
SUM(score) as sum_score
FROM individual_scores
GROUP BY meet_name, org_id, school
;

SELECT * FROM school_scores_individual;

Done.
Done.
12 rows affected.

[('NCAA_Summer', 'U203', 'UoH', 14),
 ('NCAA_Summer', 'U422', 'UTAustin', 16),
 ('NCAA_Summer', 'U430', 'RICE', 6),
 ('NCAA_Summer', 'U502', 'UTDallas', 4),
 ('NCAA_Summer', 'U693', 'Baylor', 24),
 ('Rice Invitational', 'U422', 'UTAustin', 9),
 ('Rice Invitational', 'U430', 'RICE', 1),
 ('Rice Invitational', 'U502', 'UTDallas', 2),
 ('Rice Invitational', 'U693', 'Baylor', 4),
 ('UT_Meet', 'U203', 'UoH', 8),
 ('UT_Meet', 'U430', 'RICE', 5),
 ('UT_Meet', 'U693', 'Baylor', 3)]

In [51]:
%%sql
DROP VIEW IF EXISTS school_scores;
CREATE VIEW school_scores AS
SELECT 
COALESCE (g.meet_name, i.meet_name) AS meet_name, 
COALESCE (g.org_id, i.org_id) AS org_id, 
COALESCE (g.school, i.school) AS school, 
COALESCE (i.sum_score, 0)+COALESCE (g.sum_score, 0) AS total_score
FROM school_scores_group g
FULL JOIN school_scores_individual i
ON g.meet_name=i.meet_name
AND g.org_id=i.org_id

;

SELECT * FROM school_scores;

Done.
Done.
17 rows affected.

[('NCAA_Summer', 'U203', 'UoH', 14),
 ('NCAA_Summer', 'U422', 'UTAustin', 16),
 ('NCAA_Summer', 'U430', 'RICE', 6),
 ('NCAA_Summer', 'U502', 'UTDallas', 4),
 ('NCAA_Summer', 'U693', 'Baylor', 24),
 ('Rice Invitational', 'U422', 'UTAustin', 9),
 ('Rice Invitational', 'U430', 'RICE', 1),
 ('Rice Invitational', 'U502', 'UTDallas', 2),
 ('Rice Invitational', 'U693', 'Baylor', 4),
 ('SouthConfed', 'U203', 'UoH', 12),
 ('SouthConfed', 'U422', 'UTAustin', 6),
 ('SouthConfed', 'U430', 'RICE', 6),
 ('SouthConfed', 'U502', 'UTDallas', 8),
 ('SouthConfed', 'U693', 'Baylor', 10),
 ('UT_Meet', 'U203', 'UoH', 8),
 ('UT_Meet', 'U430', 'RICE', 5),
 ('UT_Meet', 'U693', 'Baylor', 3)]

In [58]:
%%sql
DROP FUNCTION IF EXISTS GetMeetScore(
    meet_name_value VARCHAR(20));
CREATE OR REPLACE FUNCTION GetMeetScore (
    meet_name_value VARCHAR(20))
RETURNS TABLE 
(org_id VARCHAR(10),
 school VARCHAR(20),
 total_score bigint)
AS $$
    BEGIN
        RETURN QUERY (SELECT 
        s.org_id, s.school,
        s.total_score
        FROM school_scores s 
        WHERE s.meet_name = meet_name_value
        ORDER BY s.total_score DESC
        );
    END $$
LANGUAGE plpgsql
STABLE;

Done.
Done.

[]

In [59]:
%%sql
SELECT * FROM GetMeetScore('NCAA_Summer');

5 rows affected.

[('U693', 'Baylor', 24),
 ('U422', 'UTAustin', 16),
 ('U203', 'UoH', 14),
 ('U430', 'RICE', 6),
 ('U502', 'UTDallas', 4)]